gEDA/*.sch~
# Object files
*.o
*.ko
*.obj
*.elf
*.r51
*.pbi
*.s51
*.lst
*.map
*.pbd
firmware/CC2530DB/RouterEB/List/*
firmware/CC2530DB/RouterEB/Obj/*





# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
